		/***** Styles for anything in the div container*****/
.container {
	border: 3px solid #000;
	background: -webkit-radial-gradient(center, ellipse cover, #a90329 38%,#6d0019 99%);
	border-radius: 10px;
	padding: 10px;
	width: 960px;
	margin: auto auto;
	float: left;
	
}

		/***** Styles for headings *****/
h1 {
	color: #FFF;
	border:  0px;
	font-family: 'Oswald', Sans-Serif;
	font-size: 2.5em;
	text-shadow: -1px 2px 2px #999;
	margin: auto;
	background-image: url("../images/record.png");
	
}

h2	{
    color: #F2E394;
    padding: 20px 10px;
    margin: 3.12% auto;
	font-family: 'Kaushan Script', 'sans-serif';
	font-size: 1.56em;
	text-align: center;
}

h3	{
	color: #F2AE72;
	font-family: arial, 'sans-serif';
	font-size: 1em;
	
}



h5 {
    opacity: 0.8;
	font-family: Oswald, 'sans-serif'; 
	font-size: 1em;
	font-weight: 400;
	text-shadow: -2px 2px 2px #999;
	margin: auto;
}

		/***** Styles for lists****/       
ul.lists, ul.bottomlist {
    list-style-type: none;
    margin: 3.12% 3.12%;
    padding: 10px;
    font-family: arial;
    font-size: 1em;
    font-weight: 800;
    float: left;
    

}
    

		/**** Styles for links****/
a:link {
	color: #C28B2D;
}

a:hover {
	text-decoration: underline;
}
		
a:visited {
	color: #588c7e;
	
}

.displayed:hover {
	box-shadow: 0 0 10px #fff;
}

a {
	text-decoration: none;
}

		/***** Styles for all paragraphs ****/
p {
	
	color: rgb(242,227,148);
	padding: 20px;
	background-image: url("../images/canvas.gif");
	background-repeat: repeat;
	line-height: 1.4;
	font-family: sans-serif, 'arial';
	border: 3px solid rgb(242,227,148);
	border-radius: 10px;
	
}

		/***** Styles for images *****/
img.gallery {
	border: 1px solid rgb(242,227,148);
	padding: 0px;
	float: right;
	clear: both;
	
	
}

#footer {
	color: #000;
	font-size: 15px;
	text-align: center;
	margin: 10px auto;
	clear: both;
}


.bottomlist {
	
	list-style-type: none;
	float: left;
    font-size: 1em;
    clear: left;
    width: 300px;
	
	
}

.gallery {

	float: right;
	width: 550px;
	clear: right;
	color: #F2AE72;
	
}

.bottomheading {

	color: #F2AE72;
	font-family: 'Kaushan Script', 'sans-serif';
	font-size: 1.4em;
}
	

