		/***** Styles for anything in the div container*****/
#container {
	border: 1px solid #665544;
	background-color: rgb(140,70,70);
	border-radius: 10px;
	padding: 10px;
}

		/***** Styles for headings *****/
h1 {
	color: #588C7E;
	border:  0px;
	font-family: Kaushan Script;
	font-size: 2.5em;
	font-style: italic;
	text-shadow: -1px 2px 2px #999;
	margin: auto;
}

h2	{
    color: #F2E394;
    padding: 20px 10px;
	font-family: Kaushan Script;
	font-size: 1.56em;
	text-align: center;
}

h3, h4	{
	color: #F2E394;
	font-family: arial;
	font-size: 1em;
	text-align: center;
}



h5 {
    opacity: 0.8;
	font-family: arial;
	font-size: 1em;
	font-style: italic;
	text-shadow: -2px 2px 2px #999;
	margin: auto;
}

		/***** Styles for lists****/       
ul, li {
    list-style-type: none;
    display: inline;
    margin: 0px auto;
    padding: 20px 10px;
    font-family: arial;
    font-size: 1em;

}


		/**** Styles for links****/
a:link {
	color: #FFF;
}

a:hover {
	text-decoration: underline;
}
		
a:visited {
	color:  #F2E394;
}

.displayed:hover {
	box-shadow: 0 0 10px #fff;
}

a {
	color: #F2E394;
	text-decoration: none;
	margin:  auto;
	padding: 0px;
	width: 300px;
	
}

		/***** Styles for all paragraphs ****/
p {
	
	color: rgb(242,227,148);
	background-color: #303030;
    margin: 20px auto;
	padding: 20px;
	width: 700px;
	text-align: center;
	line-height: 1.4;
	font-family: serif;
	font-weight: normal;
	border: 1px solid rgb(242,227,148);
	border-radius: 10px;
	
}

		/***** Styles for images *****/
img.displayed {
	border: 1px solid #fff;
	padding: 0px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#footer {
color: white;
border-style: none;
background-color: rgb(140,70,70);
}






